/* Stylesheet for Pasquale Palazzolo's Week 2 DWA1 Assignment */

/* CSS Reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    vertical-align:baseline;
    background:transparent;
}

/*----- Global Styles -----*/

blockquote {
	background: #556b2f; /* Old browsers */
	background: -moz-linear-gradient(top,  #556b2f 0%, #81995a 50%, #adcc78 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#556b2f), color-stop(50%,#81995a), color-stop(100%,#adcc78)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #556b2f 0%,#81995a 50%,#adcc78 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #556b2f 0%,#81995a 50%,#adcc78 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #556b2f 0%,#81995a 50%,#adcc78 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #556b2f 0%,#81995a 50%,#adcc78 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#556b2f', endColorstr='#adcc78',GradientType=0 ); /* IE6-9 */

}
body {
    background-color: #000001;
    width:100%;
}

figcaption {
    margin-bottom: 14px;
    font-size: 8px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Copse', serif;
    text-shadow: 3px 3px 3px #5F5F5F;
}

li {
    list-style-type: square;
}


p, blockquote, abbr, cite, ol, ul, li, figcaption, figure {
    font-family: 'Comfortaa', cursive;
    line-height: 22px;
    font-style: normal;
}

p {
    margin-top: 12px;
    padding: 0 20px;
    text-indent: 12px;
}


/*----- Navigation Styles -----*/
nav {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

nav li {
    display: inline-block;
}

#navigation a, a:visited {
    position: relative;
    width: 160px;
    height: 30px;
    padding: 5px 30px 8px;
    margin-right: 30px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    color: #ffffff;
    background-color: #5F5F5F;
    box-shadow: 0 3px #444444;
    text-decoration: none;

}

#navigation a:active {
    box-shadow: 0 0 #444444;
    padding: 8px 30px 8px;
    top: 3px;
}

#navigation a:hover {
    color: #ffffff;
    background-color: #A0A0A0;
}



/*----- ID Styles -----*/

#container {
    background-color: #ffffff;
    width: 75%;
    margin: 0 auto;
    padding: 0;
}

#innercontainer p {
    padding: 0 30px;
}

#photos img {
    opacity: 0.5;
    display: inline;
    width: 130px;
    height: 130px;
}

#photos img:hover {
    opacity: 1;
}

#photos p {
    margin-bottom: 12px;
}


/*----- Class Styles -----*/
.disclaimer p {
    font-style: italic;
    margin-bottom: 18px;

}

.disclaimer a:link, a:visited {
    color: #ff0000;
    font-weight: bold;
}

.disclaimer a:hover {
    color: #556b2f;
}

h1.mainTitle {
    color: #000001;
    font-size: 2em;
    padding: 12px 12px 12px 0;
}

h2.sectionSubtitle {
    color: #000001;
    font-size: 1.5em;
    margin: 18px 0;
    width: 100%;
    padding: 10px 0 10px 0;
    background: url("../images/lean_pisa.png") no-repeat left bottom, url("../images/bg_tiles.png") repeat-x top left #ff0000;
    box-shadow: 0 2px 4px #000000;
    text-indent: 1.5em;
}

.indentItems {
    margin-left: 24px;
}

.menuSection {
    list-style: none;
    margin-top:22px;
}

.menuSection span {
    font-size: 1.375em;
    font-weight: normal;
}


.opaqueHeader {
    background-color: #ff0000;
    border: 2px solid #000000;
    border-radius: 10px;
}

.photoList li {
    display: inline-block;
    margin-left: 14px;
}
.quote {
    font-style: italic;
    width: 100%;
    color: #000000;
    background-color: #556b2f;
    padding: 2px 0;
    margin-bottom: 4px;
    text-indent: 12px;
}

/*----- Table Styles -----*/
#menuTable {
	margin: 0 auto;
	width: 90%;
}

.firstRow td:nth-child(1), .firstRow td nth-child(2), 
.secondRow td:nth-child(1), .secondRow td nth-child(2),
.thirdRow td:nth-child(1), .thirdRow td nth-child(2) {
	text-align: left;
}

.firstRow td:nth-child(3), .secondRow td:nth-child(3), .thirdRow td:nth-child(3) {
	text-align: center;
}

.firstRow td:nth-child(4), .firstRow td:nth-child(5),
.secondRow td:nth-child(4), .secondRow td:nth-child(5),
.thirdRow td:nth-child(4), .thirdRow td:nth-child(5) {
	text-align: right;
}

/*----- Form Styles -----*/


/*----- Fluid Styles -----*/

#story {
	float: left;
	width: 60%;
	margin-right: 5%;
}

#menu {
	clear: both;
	padding-top:22px;
	
}

#photos {
	float: right;
	width: 30%;
	}

	